@charset "utf-8";
/* CSS Document */

footer
{
	width: 100%;
	height: auto;
	background-color: #262223;
	position: absolute;	
	display: flex;
	justify-content: center;
}
.nav
{
	width: 75%;
	margin: auto;
}
.navinner
{
	float: left;
	width: 25%;
	padding: 5% 0 3% 0;	
	box-sizing: border-box;
}
.navinner ul
{
	list-style: none;	
}
.navinner ul li
{
	font-family: Be Vietnam Pro;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 3%;
	color: #DDC6B6;
}
.navinner ul li p
{
	font-size: 36px;
	text-decoration: underline;
}
.navinner ul li input
{
	border: 2px solid #DDC6B6;
	background-color: #262223;
	color: #DDC6B6;
	padding: 10px;
	font-family: Be Vietnam Pro;
}
.navinner ul li a
{
	text-decoration: none;
	color: #DDC6B6;
}


